body {
    background-image: url(./images/background2.png);
    background-image: url(./images/background2-compresed.jpg);
    background-image: url(./images/bg-forest.png);
    background-size: cover; /* or contain, depending on your preference */
    background-position: center; /* centers the image */
    background-repeat: no-repeat; /* prevents the image from repeating */
    height: 100vh; /* makes sure the body takes the full height */
    margin: 0; /* removes default margin */
    width: 100vw;
    overflow: hidden;
    filter: grayscale();
    backdrop-filter:grayscale();
    transition: filter 4s ,backdrop-filter 4s;
}
@font-face {
    font-family: "ninja";
    src: url("./fonts/ninja-font.ttf");
}
#blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(0px);
    background: rgba(0,0,0,0); /* optional tint */

    pointer-events: none;
    z-index: 50;

    transition: backdrop-filter 0.4s ease, background 0.4s ease;
}
#blur-overlay.active {
    backdrop-filter: blur(1px);
    background: rgba(0,0,0,0.3);
}
.menu-box {
    display: inline-block;
    position: absolute;
    /* border: 3px solid white; */
    /* padding: 20px 40px; */
    /* background: rgba(0,0,0,0.6); */
    top: 50%;
    left: 60%;
    transform: translate(0, -50%);
}

.menu-item {
    position: relative;
    margin: -9vh 0;              /* responsive spacing */
    cursor: pointer;
    transition: 0.3s;
}
.menu-item:nth-child(2) img {
    transform: translateX(20%);
}
.menu-item:nth-child(3) img {
    transform: translateX(20%);
}

.menu-item img {
    width: 30vw;               /* scales with window width */
    max-width: 400px;          /* optional cap */
    min-width: 200px;          /* optional floor */
    height: auto;
}

/* hover */
.menu-item:hover {
    transform: scale(1.1);
}
/* windows */
/* menu.css */

.slideshow {
    position: relative;
    width: 100vw; /* Match the width of your images */
    height: 100vh; /* Match the height of your images */
    text-align: center;
    align-content: center;
    overflow: hidden;
}

.slideshow img {
    width: 100%;
    height: auto;
    display: none; /* Hide all images by default */
    position: relative;
}
/* .active { */
    /* display: block !important; Show the active image */
/* } */

#loader {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 20px;
    border: 5px solid #aca7a7;
    border-radius: 50%;
    border-top: 5px solid white;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 1.5s ease-in-out infinite; /* Safari */
    animation: spin 1.5s ease-in-out infinite  ;
    /* transition: opacity 2s; */
    display: none;
}

#loadingBar  {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 0;
    border: 1px solid white;
    /* border-radius: 50%; */
    /* border-top: 5px solid white; */
    width: 90vw;
    height: 10px;
    /* -webkit-animation: spin 1.5s ease-in-out infinite; Safari */
    /* animation: spin 1.5s ease-in-out infinite  ; */
    transition: opacity 1s;
    /* display: none; */
}
#innerBar{
    height: 100%;
    width: 1%;
    background-color: white;
}

#playButton{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 0;
    width: 80px;
    height: 22px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:  Helvetica, sans-serif;
    font-weight:700;
    font-size: 18px;
    outline: white 3px solid;
    border:  black 2px solid;
    animation: pulse 3s infinite;
    display: none;
}
#playButton:hover{
    cursor: pointer;
}
/* ////Animtations */
@-webkit-keyframes pulse {
    0% { 
        box-shadow:0 0 8px white, inset 0 0 8px white; 
        opacity: 0.8;
    }
    50% {
        box-shadow:0 0 24px white, inset 0 0 24px white; 
        opacity: 1;
    }
    100% {
        box-shadow:0 0 8px white, inset 0 0 8px white; 
        opacity: 0.8;
    }
}
@keyframes pulse {
    0% { 
        box-shadow:0 0 8px white, inset 0 0 8px white; 
        opacity: 0.8;
    }
    50% {
        box-shadow:0 0 24px white, inset 0 0 24px white; 
        opacity: 1;
    }
    100% {
        box-shadow:0 0 8px white, inset 0 0 8px white; 
        opacity: 0.8;
    }
}

@keyframes popup {
    0%   { transform: translate(-50%, -50%) scale(0.7); }
    70%  { transform: translate(-50%, -50%) scale(1.05); }
    100% { transform: translate(-50%, -50%) scale(1); }
}