#credits-window {
  /* position: relative; */
  overflow: hidden;
  width: 80%;
  height: 60%;
}
.credits-inner {
  position: absolute;
  width: 100%;
  bottom: -100%;    
  height: 100%;
  text-align: center;
  animation: scrollCredits 20s linear forwards;
}
.credits-inner .credits-section,
.credits-inner .credits-title {
  animation: fadeOutCredits 2s linear forwards;
  animation-delay: 18s; /* adjust based on scroll duration */
}



.credits-section {
  position: relative;
  text-align: center;
  margin: 40px 0;
}

/* side images */
.side-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.side-img img {
  width: 6em;
  /* height: auto; */
}

/* left side */
.side-img.left {
  left: 7%;
}

/* right side */
.side-img.right {
  right: 7%;
  /* flip side */
  transform: translateY(-50%) scaleX(-1);
}


/* Fade out others */
@keyframes fadeOutCredits {
  to {
    opacity: 0;
  }
}
/* Fade out others */
@keyframes fadeInCredits {
  to {
    opacity: 1;
  }
}


@keyframes scrollCredits {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-330%);
  }
}

/* Optional styling */
.credits-title {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: "ninja";
}

.credits-section {
  margin: 15px 0;
}

.role {
  font-weight: bold;
  opacity: 0.7;
}

.name {
  font-size: 22px;
}

.credits-footer {
  margin-top: 40px;
  font-style: italic;
  opacity: 0.8;
}